In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable

In [8]:
df = pd.read_csv("datos/limpieza_tres.csv", index_col = 0)
df.head(1)

   year country sex_ fecha fatalidad nueva_especie  edad_limpia
0  2018     usa    F   NaN         N         White         57.0

1. Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¿Hay alguna columna con una gran cantidad de nulos? En caso de que sea así deberemos eliminarla.

In [9]:
df.stb.missing()

               missing  total    percent
fecha             1611   1620  99.444444
edad_limpia        150   1620   9.259259
sex_               124   1620   7.654321
fatalidad           13   1620   0.802469
country              8   1620   0.493827
year                 0   1620   0.000000
nueva_especie        0   1620   0.000000

2. Es el momento de eliminar los nulos:
- Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

In [10]:
df['edad_limpia'].fillna(df['edad_limpia'].mean(), inplace = True)

In [11]:
df['edad_limpia']=df['edad_limpia'].round(decimals=2)


- En relación a la columna de country al tratarse de una columna de tipo categórica, reemplazad los valores nulos por una nueva categória que se llame Unknown.

In [12]:
df["country"].replace(np.nan, "Unknow", inplace = True)

In [13]:
df["country"].isnull().sum()

0

- Reemplazad los valores nulos de la columna fatal por Unknown.

In [14]:
df["fatalidad"].replace(np.nan, "Unknow", inplace = True)

In [15]:
df["fatalidad"].isnull().sum()

0

- Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda).

In [ ]:
#no tenemos columna type pero si la tuvieramos tendriamos que ejecutar este codigo
#df['type'].fillna(df['type'].mode, inplace = True)

- Reemplazad los valores nulos de la columna fecha por Unknown.

In [16]:
df['fecha'].replace(np.nan,'Unknown', inplace = True)

In [17]:
df['fecha'].isnull().sum()

0

In [18]:
df.stb.missing()

               missing  total   percent
sex_               124   1620  7.654321
year                 0   1620  0.000000
country              0   1620  0.000000
fecha                0   1620  0.000000
fatalidad            0   1620  0.000000
nueva_especie        0   1620  0.000000
edad_limpia          0   1620  0.000000

In [19]:
df.head()

   year    country sex_    fecha fatalidad nueva_especie  edad_limpia
0  2018        usa    F  Unknown         N         White         57.0
1  2018     brazil    M  Unknown         N         Tiger         18.0
2  2018        usa    M  Unknown         N          Bull         15.0
3  2018  australia    M  Unknown         N          Grey         32.0
4  2018    england    M  Unknown         N   Desconocido         21.0

In [20]:
df.to_csv("datos/limpieza_cuatro.csv")