In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable 
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [2]:
from sklearn.impute import SimpleImputer

In [5]:
df = pd.read_csv("datos/limpieza_dos.csv", index_col = 0)
df.head(1)

,YEAR,COUNTRY,SEX_,AGE,SPECIES_,fecha,FATALIDAD,nueva_especie,edad_limpia
0,2018,usa,F,57,White shark,NaN,N,White,57.0

1. Es el momento de eliminar los nulos:
- Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo SimpleImputer.

In [6]:
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)

In [7]:
imputer = imputer.fit(df[['edad_limpia']])

In [8]:
df['edad_limpia'] = imputer.transform(df[['edad_limpia']])

In [9]:
df['edad_limpia'].isnull().sum()

0

- Reemplazad los valores nulos de la columna sex por la moda, usando el m√©todo SimpleImputer.
üí° Pista üí° La moda en este tipo de aproximaci√≥n se indica como most_frequent.

In [10]:
imputer= SimpleImputer(strategy= 'most_frequent', missing_values=np.nan )

In [11]:
imputer=imputer.fit(df[['SEX_']])

In [12]:
df['SEX_']=imputer.transform(df[['SEX_']])

In [13]:
df['SEX_'].isnull().sum()

0

- Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda) con el m√©todo SimpleImputer.

In [12]:
#si tuvieramos type habria q ejecutar este codigo
# imputer=imputer.fit(df[['type']])
# imputer=imputer.fit(df[['type']])
# df['type']= imputer.transform(df[['type']])

- Utilizad el m√©todo KNN Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [14]:
numericas=df.select_dtypes(np.number)

In [15]:
imputerKNN = KNNImputer(n_neighbors=5)

In [16]:
imputerKNN=imputerKNN.fit (numericas)

In [17]:
imputerKNN = imputerKNN.transform(numericas)

In [18]:
df_knn =pd.DataFrame (imputerKNN, columns= numericas.columns)

In [19]:
columnas= df_knn.columns
columnas

Index(['YEAR', 'edad_limpia'], dtype='object')

In [20]:
df.drop (columnas, axis=1, inplace=True)

In [21]:
df[columnas]=imputerKNN

In [22]:
df['YEAR'].isnull().sum()

0

In [23]:
df['edad_limpia'].isnull().sum()

0

Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [24]:
imputer = IterativeImputer(n_nearest_features=None, imputation_order='ascending')

In [25]:
imputer= imputer.fit(numericas)

In [26]:
imputer=imputer.transform (numericas)

In [27]:
df_transformado= pd.DataFrame(imputer, columns=numericas.columns)

In [28]:
columnas=df_transformado.columns

In [29]:
df.drop(columnas, axis=1, inplace=True)

In [30]:
df[columnas]=df_transformado.columns

In [31]:
df.isnull().sum()

COUNTRY             8
SEX_                0
AGE               108
SPECIES_          124
fecha            1611
FATALIDAD          13
nueva_especie       0
YEAR                0
edad_limpia         0
dtype: int64

¬øPodr√≠ais explicar qu√© diferencia hay entre estos dos √∫ltimos m√©todos?

El m√©todo KNN predice los valores nulos en funcion de otros (neigbours) similares cercanos. El numero de vecinos lo establecemos nosotros.

El Iterative Imputer, imputa los valores nulos mediante repetici√≥n, itera predicciones una y otra vez y se queda con la √∫ltima ronda.

In [32]:
df.to_csv('datos/limpieza_cinco.csv')