**Pair Programming ETL I**

Vamos a nutrir los datos de los ataques de los tiburones con información climática de los paises que tenemos. Para eso vamos a usar la API del clima que hemos aprendido en la clase invertida:

Requisitos de este ejercicio de pair programming:


Deberéis meter toda la información climática en un único dataframe.

Deberéis hacer la llamada a la API de una sola vez. Es decir, tendréis que iterar por la lista de países y sacar la información del clima para cada uno de ellos.

Al meter toda la información en un único dataframe tendremos que crear una columna que corresponda con el nombre del país.

Guardar el dataframe obtenido para usarlo en la siguiente sesión de pair programming.

In [1]:
from IPython.core.interactiveshell import InteractiveShell # Nos permite mostar más de una salida por celda
InteractiveShell.ast_node_interactivity = "all" # Nos permite mostar más de una salida por celda

import requests
import pandas as pd
import numpy as np

Definimos diccionario con los datos de los paises que nos interesan para poder iterar por él en el for loop que sigue.

In [2]:
diccionario={'USA':['-100.445882', '39.7837304'], 'Australia':['134.755', '-24.7761086'], 'South Africa':['24.991639', '-28.8166236'],'New Zealand': ['172.8344077', '-41.5000831'], 'Papua New Guinea': ['144.2489081','-5.6816069' ] }

In [3]:
df1=pd.DataFrame()
for k, v in diccionario.items():
    
    url= f'http://www.7timer.info/bin/api.pl?lon={v[0]}&lat={v[1]}&product=meteo&output=json'
    response= requests.get (url)
    df=pd.DataFrame.from_dict(pd.json_normalize(response.json()['dataseries']))
    df['pais']= k
    df1= pd.concat([df1, df])

In [4]:
df1['pais'].unique()

array(['USA', 'Australia', 'South Africa', 'New Zealand',
       'Papua New Guinea'], dtype=object)

In [5]:
df1.sample(2)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,pais
15,48,9,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': -9999}, {'layer': '9...","[{'layer': '950mb', 'direction': -9999, 'speed...",14,-1,15,-9999,rain,4,0,310,2,Papua New Guinea
42,129,9,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': -9999}, {'layer': '9...","[{'layer': '950mb', 'direction': -9999, 'speed...",13,2,15,-9999,rain,5,0,210,2,Papua New Guinea

In [6]:
df1.shape

(320, 17)

In [7]:
df_ETL1=df1.to_csv('datos/df_ETL1.csv')