In [1]:
import pandas as pd
import mysql.connector

Es el momento de meter todos nuestros datos en SQL !!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendr谩 la informaci贸n que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendr谩 la informaci贸n obtenida en el ejercicio de pair de ETL.

 Nota Todo lo tendremos que hacer desde jupyter notebook
1. Cread la BBDD con el nombre de tiburones.
2. Cread las tablas de la BBDD:
    Tabla ataques
    Tabla clima

------------

In [2]:
df_ataques = pd.read_csv('datos/limpieza_cuatro.csv', index_col=0)

In [3]:
df_clima= pd.read_csv('datos/datos_union_clima_ataques.csv', index_col=0)

Definimos funci贸n para crear la BBDD.

In [4]:
def crear_bbdd (nombre_bbdd):

    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="AlumnaAdalab" 
    )
    print("Conexi贸n realizada con 茅xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [5]:
mydb = crear_bbdd("tiburones")

Conexi贸n realizada con 茅xito
MySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

Definimos funci贸n para crear tablas

In [6]:
def crear_tabla (nombre_bbdd, contrase帽a, query):
    
    cnx = mysql.connector.connect(user='root', password=f"{contrase帽a}",
                                     host='localhost', database=f"{nombre_bbdd}")
    
    mycursor = cnx.cursor()
    
    try: 
        mycursor.execute(query)
        cnx.commit() 
    
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

Preparamos las query de la tabla ataques

In [7]:
df_ataques.columns

Index(['year', 'country', 'sex_', 'fecha', 'fatalidad', 'nueva_especie',
       'edad_limpia'],
      dtype='object')

In [8]:
df_ataques.isnull().sum()

year               0
country            0
sex_             124
fecha              0
fatalidad          0
nueva_especie      0
edad_limpia      150
dtype: int64

Eliminamos los nulos para evitar el erros en SQL y comprobamos.

In [9]:
df_ataques.dropna(how = "any", inplace=True )

In [10]:
df_ataques.dtypes

year               int64
country           object
sex_              object
fecha             object
fatalidad         object
nueva_especie     object
edad_limpia      float64
dtype: object

In [11]:
tabla_ataques = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques` (
  id_ataques INT NOT NULL AUTO_INCREMENT,
  pais VARCHAR (100) ,
  sexo VARCHAR (100),
  fecha VARCHAR (100),
  fatalidad VARCHAR(100) ,
  especie VARCHAR (100),
  edad INT ,
  PRIMARY KEY (`id_ataques`))
ENGINE = InnoDB;
'''

Preparamos las query de la tabla clima

In [12]:
df_clima.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'injury', 'fecha_limpia',
       'fatal', 'sex', 'pais', 'rh_950mb', 'rh_900mb', 'rh_850mb', 'rh_800mb',
       'rh_750mb', 'rh_700mb', 'rh_650mb', 'rh_600mb', 'rh_550mb', 'rh_500mb',
       'rh_450mb', 'rh_400mb', 'rh_350mb', 'rh_300mb', 'rh_250mb', 'rh_200mb',
       'wind_950mb', 'wind_900mb', 'wind_850mb', 'wind_800mb', 'wind_750mb',
       'wind_700mb', 'wind_650mb', 'wind_600mb', 'wind_550mb', 'wind_500mb',
       'wind_450mb', 'wind_400mb', 'wind_350mb', 'wind_300mb', 'wind_250mb',
       'wind_200mb', 'index', 'timepoint', 'cloudcover', 'highcloud',
       'midcloud', 'lowcloud', 'temp2m', 'lifted_index', 'rh2m',
       'msl_pressure', 'prec_amount', 'snow_depth', 'wind10m.direction',
       'wind10m.speed'],
      dtype='object')

In [13]:
df_clima.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4395 entries, 0 to 4394
Data columns (total 62 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   case_number        4394 non-null   object
 1   year               4395 non-null   float64
 2   type               4394 non-null   object
 3   country            4395 non-null   object
 4   area               4363 non-null   object
 5   location           4276 non-null   object
 6   activity           4066 non-null   object
 7   name               4325 non-null   object
 8   age                2681 non-null   object
 9   time               2395 non-null   object
 10  species_           2647 non-null   object
 11  injury             4381 non-null   object
 12  fecha_limpia       4148 non-null   object
 13  fatal              3975 non-null   object
 14  sex                4059 non-null   object
 15  pais               4395 non-null   object
 16  rh_950mb           4395 non-null   float64
 17  rh_900mb           4395 non-null   float64
 18  rh_850mb           4395 non-null   float64
 19  rh_800mb           4395 non-null   float64
 20  rh_750mb           4395 non-null   float64
 21  rh_700mb           4395 non-null   float64
 22  rh_650mb           4395 non-null   float64
 23  rh_600mb           4395 non-null   float64
 24  rh_550mb           4395 non-null   float64
 25  rh_500mb           4395 non-null   float64
 26  rh_450mb           4395 non-null   float64
 27  rh_400mb           4395 non-null   float64
 28  rh_350mb           4395 non-null   float64
 29  rh_300mb           4395 non-null   float64
 30  rh_250mb           4395 non-null   float64
 31  rh_200mb           4395 non-null   float64
 32  wind_950mb         4395 non-null   float64
 33  wind_900mb         4395 non-null   float64
 34  wind_850mb         4395 non-null   float64
 35  wind_800mb         4395 non-null   float64
 36  wind_750mb         4395 non-null   float64
 37  wind_700mb         4395 non-null   float64
 38  wind_650mb         4395 non-null   float64
 39  wind_600mb         4395 non-null   float64
 40  wind_550mb         4395 non-null   float64
 41  wind_500mb         4395 non-null   float64
 42  wind_450mb         4395 non-null   float64
 43  wind_400mb         4395 non-null   float64
 44  wind_350mb         4395 non-null   float64
 45  wind_300mb         4395 non-null   float64
 46  wind_250mb         4395 non-null   float64
 47  wind_200mb         4395 non-null   float64
 48  index              4395 non-null   float64
 49  timepoint          4395 non-null   float64
 50  cloudcover         4395 non-null   float64
 51  highcloud          4395 non-null   float64
 52  midcloud           4395 non-null   float64
 53  lowcloud           4395 non-null   float64
 54  temp2m             4395 non-null   float64
 55  lifted_index       4395 non-null   float64
 56  rh2m               4395 non-null   float64
 57  msl_pressure       4395 non-null   float64
 58  prec_amount        4395 non-null   float64
 59  snow_depth         4395 non-null   float64
 60  wind10m.direction  4395 non-null   float64
 61  wind10m.speed      4395 non-null   float64
dtypes: float64(47), object(15)
memory usage: 2.1+ MB

De todas esta columnas, entendemos que coger solo las del clima ya que en el enunciado del ejercicio se dice que hay que crear dos tablas: una de ataques y otra de clima.

In [14]:
tabla_clima = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`clima` (
  id_clima INT NOT NULL AUTO_INCREMENT,
  pais VARCHAR DEFAULT NULL, 
  rh_950mb DECIMAL , 
  rh_900mb DECIMAL , 
  rh_850mb DECIMAL , 
  rh_800mb DECIMAL ,
  rh_750mb DECIMAL , 
  rh_700mb DECIMAL , 
  rh_650mb DECIMAL  , 
  rh_600mb DECIMAL  , 
  rh_550mb DECIMAL  , 
  rh_500mb DECIMAL  ,
  rh_450mb DECIMAL  , 
  rh_400mb DECIMAL  , 
  rh_350mb DECIMAL  , 
  rh_300mb DECIMAL  , 
  rh_250mb DECIMAL  , 
  rh_200mb DECIMAL  ,
  wind_950mb  DECIMAL  , 
  wind_900mb DECIMAL , 
  wind_850mb DECIMAL  , 
  wind_800mb DECIMAL , 
  wind_750mb  DECIMAL ,
  wind_700mb  DECIMAL  , 
  wind_650mb  DECIMAL  , 
  wind_600mb  DECIMAL  , 
  wind_550mb  DECIMAL  , 
  wind_500mb  DECIMAL  ,
  wind_450mb DECIMAL , 
  wind_400mb DECIMAL , 
  wind_350mb DECIMAL  , 
  wind_300mb DECIMAL , 
  wind_250mb DECIMAL ,
  wind_200mb DECIMAL , 
  index INT DECIMAL , 
  timepoint DECIMAL , 
  cloudcover DECIMAL , 
  highcloud DECIMAL ,
  midcloud DECIMAL , 
  lowcloud DECIMAL , 
  temp2m DECIMAL, 
  lifted_index DECIMAL, 
  rh2m DECIMAL,
  msl_pressure DECIMAL, 
  prec_amount DECIMAL, 
  snow_depth DECIMAL, 
  wind10m.direction DECIMAL,
  wind10m.speed DECIMAL,
  PRIMARY KEY (id_clima),
  CONSTRAINT `fk_tabla_clima_tabla_ataques`
          FOREIGN KEY (id_ataques),
    REFERENCES `tiburones`.`ataques` (id_ataques))
ENGINE = InnoDB;
'''

Creamos las tablas 
-Nota: con la ultima tabla, nos damos por vencidas, ha sido del todo imposible encontrar el error.

In [15]:
crear_tabla ('tiburones', 'AlumnaAdalab', tabla_ataques)

In [16]:
crear_tabla ('tiburones', 'AlumnaAdalab', tabla_clima)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'DEFAULT NULL,
  rh_950mb DECIMAL ,
  rh_900mb DECIMAL ,
  rh_850mb DECIMAL , ' at line 3
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'DEFAULT NULL,
  rh_950mb DECIMAL ,
  rh_900mb DECIMAL ,
  rh_850mb DECIMAL , ' at line 3